<div>
    <!-- Start of header area -->
    <header class="header-area header-wrapper">
        <div class="header-top-bar black-bg clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="login-register-area">
                            <ul>
                                {{#if user}}
                                <li style="color: white; font-size: 1em;">Welcome {{user.fullName}}</li>
                                {{!-- <li><a href="#">My Account</a></li> --}}
                                {{else}}
                                <li><a href="/login">Login</a></li>
                                <li><a href="/login">Register</a></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-12 col-xs-6">
                        <div class="cart-currency-area login-register-area text-right">
                            <ul>
                                {{#if user}}
                                <li><a href="/myAccount">My Account</a></li>
                                <li><a href="/wishList" data-tooltip="Wishlist" class="w-list"><i
                                            class="fa fa-heart-o"></i></a></li>
                                <li>
                                    <div class="header-cart">
                                        <div class="cart-icon" style="margin-right: 10px;"> <a href="/viewCart">Cart<i
                                                    class="zmdi zmdi-shopping-cart"></i></a>
                                            {{#if cartCount}}
                                            <span id="cartCountDisplay">{{cartCount}}</span>
                                            {{/if}}
                                        </div>

                                    </div>
                                </li>
                                <li><a href="/logout">Logout</a></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle-area">
            <div class="container">
                <div class="full-width-mega-dropdown">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <div class="logo pt-30 pb-20"> <a href="/"><span
                                        style="color: red; font-size: 2em;">SHELL</span>
                                    <span style="color: rgb(68, 0, 255); font-size: 2em;">BAGS</span></a></div>
                        </div>
                        <div class="col-md-7 col-sm-10 hidden-xs">
                            <nav id="primary-menu">
                                <ul class="main-menu">
                                    {{#each category}}
                                    <li class="mega-parent"><a href="/category/{{this._id}}">{{this.category}}</a>
                                        <div class="mega-menu-area mma-9">
                                            {{#each this.subCategory}}
                                            <ul class="single-mega-item coloum-4">
                                                <li><a href="/category/{{../_id}}">{{this}}</a></li>
                                            </ul>
                                            {{/each}}
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </nav>
                        </div>

                        <!-- mobile-menu-area start -->
                        <div class="mobile-menu-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <nav id="dropdown">
                                            <ul>
                                                {{#each category}}
                                                <li><a href="/category/{{this._id}}">{{this.category}}</a>
                                                    <ul class="single-mega-item">
                                                        {{#each this.subCategory}}
                                                        <li><a href="/category/{{../_id}}">{{this}}</a></li>
                                                        {{/each}}
                                                    </ul>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--mobile menu area end-->
                    </div>
                </div>
            </div>
        </div>
    </header>




</div>