<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper home-one">



        <!--slider area start-->

        <div class="slider-area pos-rltv carosule-pagi cp-line">
            <div class="active-slider">
                {{#each banner}}
                <div class="single-slider pos-rltv">

                    <div class="slider-img"><img src="/public-admin/banner-images/{{this.image}}" alt=""></div>

                    <div class="slider-content pos-abs">
                        <h4 style="text-shadow: 0 0 3px #ff00ee, 0 0 5px #ff0000;">{{bannerDescription}}</h4>
                        <h1 class="uppercase pos-rltv underline" style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;">
                            {{bannerHeading}}</h1>
                        {{!-- <a href="#" class="btn-def btn-white"
                            style="text-shadow: 0 0 3px #ff00ee, 0 0 5px #ff0000;">Shop Now</a> --}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <!--slider area start-->

        <!--delivery service start-->
        <div class="delivery-service-area ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service shadow-box text-center">
                            <img src="/public-user/images/icons/garantee.png" alt="">
                            <h5>Money Back Guarantee</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service shadow-box text-center">
                            <img src="/public-user/images/icons/coupon.png" alt="">
                            <h5>Apply Coupon</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service shadow-box text-center">
                            <img src="/public-user/images/icons/delivery.png" alt="">
                            <h5>Free Shipping</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--delivery service start-->


        <!--offerProducts area start-->

        <div class="new-arrival-area pt-20">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="heading-title heading-style pos-rltv mb-50 text-center">
                            <h5 class="uppercase">Discounts for You</h5>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="total-new-arrival new-arrival-slider-active carsoule-btn">

                        {{#each offerProducts}}
                        <div class="col-md-3">
                            <!-- single product start-->
                            <div class="single-product">
                                <div class="product-img center-block">
                                    {{#if this.categoryOfferStatus}}
                                    <div class="product-label red">
                                        <div class="new">Flat {{this.categoryOffer}} % OFF</div>
                                    </div>
                                    {{/if}}

                                    <div class="single-prodcut-img product-overlay pos-rltv "
                                        style="height: 390px; width:auto;">
                                        <a href="/singleProduct/{{this._id}}"> <img class="img-responsive" alt=""
                                                src="/public-admin/product-images/{{this.images.[0]}}"
                                                class="primary-image" style="height: 100%; object-fit: contain;"> <img
                                                alt="" src="images/product/02.jpg" class="secondary-image"> </a>
                                    </div>

                                    <div class="product-icon socile-icon-tooltip text-center">
                                        <ul>
                                            <li><a onclick="addToCart('{{this._id}}')" data-tooltip="Add To Cart"
                                                    class="add-cart" data-placement="left"><i
                                                        class="fa fa-cart-plus"></i></a></li>
                                            <li><a onclick="addToWishlist('{{this._id}}')" data-tooltip="Wishlist"
                                                    class="w-list"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="product-text">
                                    <div class="prodcut-name"> <a
                                            href="/singleProduct/{{this._id}}">{{this.productName}}</a>
                                    </div>
                                    {{#if this.categoryOfferStatus}}
                                    <div class="prodcut-ratting-price">
                                        <div class="prodcut-price">
                                            <div class="new-price">Rs. {{this.categoryOfferPrice}} </div>
                                            <div class="old-price"> <del>Rs. {{this.price}} </del></div>
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="prodcut-ratting-price">
                                        <div class="prodcut-price">
                                            <div class="new-price">Rs. {{this.price}} </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>


                            <!-- single product end-->
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <!--offerProducts area end-->

        <!--new arrival area start-->
        <div class="banner-area pt-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="heading-title heading-style pos-rltv mb-50 text-center">
                            <h5 class="uppercase">Latest Products</h5>
                        </div>
                    </div>
                    {{#each newArrival}}
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-banner gray-bg">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="sb-img text-center"><a href="/singleProduct/{{this._id}}">
                                            <div class="single-prodcut-img product-overlay pos-rltv "
                                                style="height: 390px; width:auto;">
                                                <a href="/singleProduct/{{this._id}}"> <img class="img-responsive"
                                                        alt="" src="/public-admin/product-images/{{this.images.[0]}}"
                                                        class="primary-image"
                                                        style="height: 100%; object-fit: contain;"> <img alt=""
                                                        src="images/product/02.jpg" class="secondary-image"> </a>
                                            </div>
                                        </a></div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="sb-content mt-60">
                                        <div class="banner-text">
                                            <h5 class="lato">New Arrival</h5>
                                            <h2 class="montserrat">{{this.category}}</h2>
                                            {{#if this.categoryOfferStatus}}
                                            <h3 class="montserrat">Rs. {{this.categoryOfferPrice}}</h3>
                                            <h3 class="old-price"><del>Rs.{{this.price}}</h3>
                                            {{else}}
                                            <h3 class="montserrat">Rs. {{this.price}}</h3>
                                            {{/if}}
                                            <div class="banner-list">
                                                <ul>
                                                    <li>{{this.subCategory}}</li>
                                                    <li>{{this.brand}}</li>
                                                </ul>
                                            </div>
                                            <div class="social-icon-wraper mt-25">
                                                <div class="social-icon socile-icon-style-1">
                                                    <ul>
                                                        <li><a onclick="addToCart('{{this._id}}')"><i
                                                                    class="zmdi zmdi-shopping-cart"></i></a></li>
                                                        <li><a onclick="addToWishlist('{{this._id}}')"><i
                                                                    class="zmdi zmdi-favorite-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <!--new arrival area end-->


        <!--top selection area are start-->
        <div class="shop-main-area ptb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="heading-title heading-style pos-rltv mb-50 text-center">
                            <h5 class="uppercase">Top Selection</h5>
                        </div>
                    </div>
                    <!--main-shop-product start-->
                    <div class="col-md-12 col-sm-8 col-xs-12">
                        <div class="shop-wraper">
                            <div class="clearfix"></div>
                            <div class="shop-total-product-area clearfix mt-35">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <!--tab grid are start-->
                                    <div role="tabpanel" class="tab-pane fade in active" id="grid">
                                        <div class="total-shop-product-grid">
                                            {{#each topSelectedProducts}}
                                            <div class="col-md-3" style="margin-top: 20px;">
                                                <!-- single product start-->
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        {{!-- <div class="product-label">
                                                            <div class="new">New</div>
                                                        </div> --}}

                                                        <div class="single-prodcut-img product-overlay pos-rltv"
                                                            {{!--style="width: 15em; height: 25em;" --}}
                                                            style="height: 350px; width: auto;">
                                                            <a href="/singleProduct/{{this._id}}"> <img alt=""
                                                                    src="/public-admin/product-images/{{this.images.[0]}}"
                                                                    class="primary-image"
                                                                    style="height: 100%; object-fit: contain;"> <img
                                                                    alt="" src="images/product/02.jpg"
                                                                    class="secondary-image"> </a>
                                                        </div>

                                                        <div class="product-icon socile-icon-tooltip text-center">
                                                            <ul>
                                                                <li><a onclick="addToCart('{{this._id}}')"
                                                                        data-tooltip="Add To Cart" class="add-cart"
                                                                        data-placement="left"><i
                                                                            class="fa fa-cart-plus"></i></a></li>
                                                                <li><a onclick="addToWishlist('{{this._id}}')"
                                                                        data-tooltip="Wishlist" class="w-list"><i
                                                                            class="fa fa-heart-o"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>


                                                    <div class="product-text">
                                                        <div class="prodcut-name"> <a
                                                                href="/singleProduct/{{this._id}}">{{this.productName}}</a>
                                                        </div>
                                                        <div class="prodcut-ratting-price">
                                                            <div class="prodcut-price">
                                                                <div class="new-price"> Rs.{{this.price}} </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single product end-->
                                            </div>
                                            {{/each}}

                                        </div>
                                    </div>
                                    <!--shop grid are end-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--main-shop-product start-->
                </div>
            </div>
        </div>
        <!--top selection area end-->

    </div>
    <!-- Body main wrapper end -->

</body>