<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper my-account">



        <!--breadcumb area start -->
        <div class="breadcumb-area overlay pos-rltv">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>My Addresses</h5>
                </div>
            </div>
        </div>
        <!--breadcumb area end -->

        <!--service idea area are start -->

        <!--service idea area are end -->

        <div class="idea-area  ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="idea-tab-menu">
                            <ul class="nav idea-tab" role="tablist">
                                <li role="presentation" class="active"><a href="/myAccount">Personal Info</a></li>
                                <li role="presentation"><a href="/myAddress">Shipping Address</a></li>
                                <li role="presentation"><a href="/order-history">My Orders</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="idea-tab-content">
                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div class="checkout-area">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">

                                                <div class="row">
                                                    {{#if address}}
                                                    <div class="col-xs-12">
                                                        <div class="billing-details">
                                                            <div class="contact-text right-side">
                                                                <h2>Your Addresses </h2>

                                                                {{#if address}}

                                                                
                                                                <div class="shipp">
                                                                        {{#each address}}
                                                                    <ul>
                                                                        <li style="list-style-position: inside;">
                                                                            {{this.addressList.firstName}},
                                                                            {{this.addressList.phone}},
                                                                            {{this.addressList.town}},{{this.addressList.address}}
                                                                            {{this.addressList.pinCode}}
                                                                        </li>
                                                                    </ul>
                                                                {{/each}}

                                                                </div>
                                                                {{else}}
                                                                <h2>You have not added any address</h2>
                                                                {{/if}}



                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/if}}
                                                    <div class="col-xs-12">
                                                        <div class="billing-details">
                                                            <div class="contact-text right-side">
                                                                <h2 style="margin-top: 1em;">Add a new address
                                                                </h2>
                                                                <form id="addAddressForm">
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                            <div class="input-box mb-20">
                                                                                <label>First Name
                                                                                    <em>*</em></label>
                                                                                <input type="text" name="firstName"
                                                                                    class="info"
                                                                                    placeholder="First Name" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                            <div class="input-box mb-20">
                                                                                <label>Last
                                                                                    Name<em>*</em></label>
                                                                                <input type="text" name="lastName"
                                                                                    class="info" placeholder="Last Name"
                                                                                    required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="input-box mb-20">
                                                                                <label>Company Name</label>
                                                                                <input type="text" name="company"
                                                                                    class="info"
                                                                                    placeholder="Company Name" required>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                            <div class="input-box mb-20">
                                                                                <label>Email
                                                                                    Address<em>*</em></label>
                                                                                <input type="email" name="email"
                                                                                    class="info"
                                                                                    placeholder="Your Email" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                            <div class="input-box mb-20">
                                                                                <label>Phone
                                                                                    Number<em>*</em></label>
                                                                                <input type="text" name="phone"
                                                                                    class="info"
                                                                                    placeholder="Phone Number" required>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="input-box mb-20">
                                                                                <label>Country
                                                                                    <em>*</em></label>
                                                                                <input type="text" name="country"
                                                                                    class="info mb-10"
                                                                                    placeholder="Country" required>

                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="input-box mb-20">
                                                                                <label>Address
                                                                                    <em>*</em></label>
                                                                                <input type="text" name="address"
                                                                                    class="info mb-10"
                                                                                    placeholder="Street Address"
                                                                                    required>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="input-box mb-20">
                                                                                <label>Town/City
                                                                                    <em>*</em></label>
                                                                                <input type="text" name="town"
                                                                                    class="info" placeholder="Town/City"
                                                                                    required>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                            <div class="input-box">
                                                                                <label>State/Divison
                                                                                    <em>*</em></label>
                                                                                <input type="text" name="state"
                                                                                    class="info" placeholder="State"
                                                                                    required>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                                            <div class="input-box">
                                                                                <label>Post Code/Zip
                                                                                    Code<em>*</em></label>
                                                                                <input type="text" name="pinCode"
                                                                                    class="info" placeholder="Zip Code"
                                                                                    required>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <button type="submit"
                                                                        class="process-checkout-btn text-left btn-def btn2"
                                                                        style="margin-bottom: 50px; margin-top: 20px; color: black;">Add
                                                                        new Address</button>


                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>




    </div>
    <!-- Body main wrapper end -->


</body>